# Build
bin/
obj/

# Rider / VSCode / VS
.vscode/
.vs/
.idea/

# Logs
logs/
*.log

# User settings
*.user
*.suo

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# ASP.NET
appsettings.Development.json